@{
    var data = await _adminService.GetService();
}

<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Hizmetlerimiz
            </h2>
        </div>
    </div>
    <div class="container ">
        <div class="row">

            @foreach (var item in data)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="box ">
                        <div class="img-box">
                            <img src="@item.Icon" alt="">
                        </div>
                        <div class="detail-box">
                            <h4>
                                @item.Title
                            </h4>
                            <p>
                                @item.Content
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- end service section -->
