<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav" style="margin-top:20px">
        <li class="nav-item nav-category">
            <span class="nav-link">İşlemler</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <span class="menu-title">Ana Sayfa</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/product/saveproduct">
                <span class="menu-title">Ürün Kaydet</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/product/listproducts">
                <span class="menu-title">Servisteki Ürünler</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/product/summary">
                <span class="menu-title">Servis Raporları</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item nav-category"><span class="nav-link">Ana Sayfa Elementleri</span></li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/editheader">
                <span class="menu-title">Header</span>
                <i class="icon-book-open menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/editslider">
                <span class="menu-title">Slider</span>
                <i class="icon-book-open menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/editservices">
                <span class="menu-title">Hizmetlerimiz</span>
                <i class="icon-globe menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/editfooter">
                <span class="menu-title">Footer</span>
                <i class="icon-grid menu-icon"></i>
            </a>
        </li>
        <li class="nav-item nav-category"><span class="nav-link">Önizle</span></li>
        <li class="nav-item">
            <a class="nav-link" href="/" target="_blank">
                <span class="menu-title">Önizle</span>
                <i class="icon-folder-alt menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>