<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #FFFFFF !important;">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="background-color: #FFFFFF !important; object-fit:contain; height: unset;">
        <a class="navbar-brand brand-logo" href="index.html">
            <img src="~/images/Dinosoft_Logo.png" alt="logo" class="logo-dark" style="height: auto;" />
            <img src="~/images/Dinosoft_Logo.png" alt="logo-light" class="logo-light" style="height: auto;">
        </a>
        <a class="navbar-brand brand-logo-mini" href="/admin">
            <img src="~/images/icon.png" alt="logo" style="height: 25px;width: 25px;" />
        </a>
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" style="border: none !important;">
            <span class="icon-menu"></span>
        </button>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Dinosoft Servis Yönetim Paneline Hoş Geldiniz!</h5>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="img-xs rounded-circle ms-2" src="~/images/icon.png" alt="Profile image"> <span class="font-weight-normal"> Admin </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                    <a class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"></i> Profil</a>
                    <a href="/account/logout" class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i>Çıkış Yap</a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>